:root{
    --itoi-serif: "Times New Roman", Times, serif;
    --itoi-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Not Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --itoi-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.li-padding
{
    padding-right: 20px;
}

.itoi-main
{
    color:#b95b0e;
    background-color: #2f2f2f;
}

.itoi-light
{
    color:#b95b0e;
    background-color: #afafaf;
}

p
{
    text-align: left;
}

table, th, td 
{
    border: 0px;
    border-collapse: collapse;
}

.td-list-bullet
{
    text-align: right;
    vertical-align: top;
    width: 10%;
    padding-right: 20px;
}

.td-list-body
{
    text-align: left;
    width: 90%;
}

a:link
{
    color: red;
}

a:hover
{
    color:green;
}

a:active
{
    color: pink;
}

.itoi-navbar
{
    background-color: #590094;
    color: red;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: var(--itoi-sans-serif);
}

i:hover .itoi-navbar
{
    color:green;
}
