div.art2-embedded
{
    position: absolute;
    background: var(--itoi-color-dark-0);
    color: var(--itoi-color-light-0);
    text-align: center;
    top:40.9%;
    left: 14.8%;
    width: 30.6%;
    height: 12.31%;
    transition: 0.4s;
    transition-timing-function: ease;
}

div.art2-embedded:hover
{
    width: 50%;
    height: 70%;
    font-size: 0;
}

div.art2-embedded:hover::after
{
    content: attr(hover-text);
    text-align: center;
    font-size: 16px;
}

div.art2-img
{
    position:absolute;
    background-image: url("../assets/art2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 53.94%; /* (img-height / img-width * container-width) */
}

div.art2-img-margin
{
    width: 100%;
    height: 0;
    padding-top: 60%; /* (img-height / img-width * container-width) */
}
